/***********GENERAL***********/
body {
	background: linear-gradient( 0deg, #D9D5B8, #53BEEA 30%, #0061A0 );
	overflow-x: hidden;
	color: white;
	font-family: 'Bangers', cursive;
	margin: 0;
	padding: 0;
}

#wrapper {
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}

section {
	height: 720px;
}

footer {
	position: relative;
	width: 100%;
	bottom: 0;
	height: 110px;
}

h1 {
	font-size: 128px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-top: 90px;
	text-shadow: 2px 2px 0px #333;
	color: deepskyblue;
}

h2 {
	text-align: center;
	margin: 0;
	position: relative;
	top: -112px;
	left: 286px;
	font-size: 72px;
	white-space: nowrap;
	color: darkviolet;
}

h3 {
	font-size: 36px;
	text-align: center;
	margin: 0px 0px 10px;
	padding-top: 10px;
	color: #333;
}

button {
	background-color: transparent;
	border: none;
	width: 180px;
	height: 60px;
	font-size: 36px;
	font-family: 'Bangers', cursive;
	text-align: center;
	text-shadow: 1px 1px 0px #333;
	margin: 10px auto 0px;
	display: block;
	color: white;
}

button:hover {
	color: tomato;
	cursor: pointer;
}

.show-games {
	font-size: 24px;
	margin: 5px auto 0px;
	height: 32px;
}

form {
	margin-bottom: 0px;
}

input {
	display: block;
	margin: 20px auto 0px;
	padding-left: 10px;
	height: 40px;
	width: 300px;
	font-family: 'Bangers', cursive;
	font-size: 20px;
	border: none;
	box-shadow: 1px 1px 1px #333;
}

form p {
	color: gold;
	text-align: center;
}


/***********GAME BOARD***********/

.line {
	background-color: gainsboro;
	position: relative;
	margin: 0 auto;
}

.vertical {
	width: 544px;
	height: 5px;
	top: 190px;
}

.bottom {
	top: 378px;
}

.horizontal {
	width: 5px;
	height: 544px;
	top: 6px;
	left: -97px;
}

.right {
	top: -538px;
	left: 95px;
}

.game-display {
	height: 360px;
	padding-top: 20px;
}

.game-board {
 	float: right;
  	position: relative;
  	left: -50%;
  	text-align: left;
  	padding-top: 20px;
}

.board-square {
	width: 160px;
	height: 160px;
	background-color: transparent;
	color: black;
	float: left;
	margin: 16px;
	position: relative;
	left: 50%;
}

.board-square:hover {
	background-color: #DDD;
	opacity: .5;
	cursor: pointer;
}

.board-square:nth-child(3n+1) {
	clear: both;
}

.player-one {
	background-image: url("../img/x.png");
	background-repeat: no-repeat;
	background-position: center;
}

.player-two {
	background-image: url("../img/o.png");
	background-repeat: no-repeat;
	background-position: center;
}

/***********GAME INFO***********/

.game-header {
	text-align: center;
	margin-bottom: -126px;
	position: relative;
}

.player-one-score {
	display: inline-block;
	margin: 0px 25% 0 0;
	font-size: 36px;
	color: tomato;
}

.player-two-score {
	display: inline-block;
	margin: 0px 0 0 25%;
	font-size: 36px;
	color: mediumturquoise;
}

.turn-select {
	border: 2px solid gainsboro;
}

div p {
	padding: 0 12px 0 8px
}


/***********BACKGROUND ART***********/

.ground {
	height: 109px;
	width: 100%;
	background: #E6A766;
	background: linear-gradient(to right, #E2B98D, #E79855);
}

.hill {
	height: 100px;
	width: 200px;
	background: #E2B98D;
	border-radius: 41%;
	position: absolute;
	top: -24px;
	left: -10;
	transform: rotate(8deg);
	z-index: -1;
}

.mesa {
	height: 100px;
	width: 400px;
	background: sienna;
	border-radius: 44%;
	position: absolute;
	top: -20px;
	left: 620px;
	transform: rotate(8deg);
	z-index: -1;
}

.mountain {
	height: 100px;
	width: 300;
	background: sienna;
	border-radius: 31%;
	position: absolute;
	top: -32px;
	left: 900px;
	transform: rotate(9deg);
	z-index: -1;
}

.c1 {
	position: absolute;
	top: 10px;
	left: 140px;
	transform: scale(0.8);
}

.c2 {
	position: absolute;
	top: -23px;
	left: 580;
	transform: scale(0.5);
}

.c3 {
	position: absolute;
	top: 37px;
	left: 300px;
}

.c4 {
	position: absolute;
	top: -3px;
	left: 862px;
	transform: scale(0.7);
}

.c5 {
	position: absolute;
	top: 18px;
	left: 1100px;
	transform: scale(0.9);
}

.cactus {
	height: 60px;
	width: 8px;
	background: green;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
}

.right-arm {
	height: 7px;
	width: 14px;
	left: 5px;
	top: 21px;
	box-shadow: none;
}

.right-arm:after {
	height: 20px;
	width: 7px;
	background: green;
	left: 10px;
	top: -13px;
	position: absolute;
	content: '';
	border-radius: 5px;
}

.left-arm {
	height: 7px;
	width: 14px;
	left: -11px;
	top: 27px;
	box-shadow: none;
}

.left-arm:after {
	height: 20px;
	width: 7px;
	background: green;
	left: 0px;
	top: -14px;
	position: absolute;
	content: '';
	border-radius: 5px;
}