body {
	background: linear-gradient( 0deg, #D9D5B8, #53BEEA 30%, #0061A0 );
	overflow-x: hidden;
	color: white;
	font-family: 'Bangers', cursive;
}

h1 {
	font-size: 128px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
	text-shadow: 4px 4px 0px #333;
}

button {
	background-color: transparent;
	border: none;
	width: 180px;
	height: 60px;
	font-size: 36px;
	font-family: 'Bangers', cursive;
	text-align: center;
	text-shadow: 1px 1px 0px #333;
	margin: 10px auto;
	display: block;
	color: #FFF;

}

.v-line {
	background-color: #FFF;
	width: 544px;
	height: 5px;
	position: relative;
	top: 290px;
	margin: 0 auto;
	box-shadow: 1px 1px 0px #333;
}

.bottom {
	top: 478px;
}

.h-line {
	background-color: #FFF;
	width: 5px;
	height: 544px;
	position: relative;
	top: 106px;
	left: -97px;
	margin: 0 auto;
	box-shadow: 1px 1px 0px #333;
}

.right {
	top: -438px;
	left: 95px;
}

.game-board {
 	float: right;
  	position: relative;
  	left: -50%;
  	top: 100px;
  	text-align: left;
}

.board-square {
	width: 160px;
	height: 160px;
	background-color: transparent;
	color: black;
	float: left;
	margin: 16px;
	position: relative;
	left: 81%;
}

.board-square:hover {
	background-color: #DDD;
	opacity: .5;
}

.board-square:nth-child(3n+1) {
	clear: both;
}

.player-one {
	background-image: url("../img/x.png");
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 
}

.player-two {
	background-image: url("../img/o.png");
	background-repeat: no-repeat;
	background-position: center;
}

.game-header {
	text-align: center;
}

.player-one-score {
	float: left;
	padding-left: 36px;
	font-size: 36px;
}

.player-two-score {
	float: right;
	padding-right: 36px;
	font-size: 36px;
}

ul {
	list-style: none;
}

.fade {
    transition: opacity 10s ease-in-out;
    -webkit-transition: opacity 10s ease-in-out;
    -moz-transition: opacity 10s ease-in-out;
    -ms-transition: opacity 10s ease-in-out;
    -o-transition: opacity 10s ease-in-out;
    opacity: 0;
}