<!-- ************************* ANGULAR VERSION ************************* -->

<!DOCTYPE = html>
<html lang = "en">
	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="css/angular-ttt.css">
		<meta name = "description" content = "Fancy a game of Tic Tac Toe?">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/gamecontroller.js"></script>
	</head>
	<body ng-app="gameApp">
		<section ng-controller="GameController as gc">
				<button ng-click="gc.initialize()">Create New Game</button>
				<button>Join as Player 1</button>
				<button>Join as Player 2</button>
				<div class="game-board">
					<div class="board-square" ng-class="{'player-one': square.owner==1, 'player-two': square.owner==2}" ng-repeat="square in gc.fbData.board" ng-click="gc.playSquare(gc.fbData.currentPlayer, $index)"></div>
				</div>
				<p>Current Player: {{gc.fbData.currentPlayer}}</p>
				<ul>
					<li>{{gc.fbData.scoreBoard[1]}}: Blue Player Wins</li>
					<li>{{gc.fbData.scoreBoard[2]}}: Red Player Wins</li>
					<li>{{gc.fbData.scoreBoard[0]}}: Ties</li>
				</ul>
		</section>
	</body>
</html>