body {
	background: linear-gradient( 0deg, #D9D5B8, #53BEEA 30%, #0061A0 );
	background-attachment: fixed;
	overflow-x: hidden;
	color: white;
	font-family: 'Bangers', cursive;
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 128px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
	text-shadow: 4px 4px 0px #333;
}

button {
	background-color: transparent;
	border: none;
	width: 180px;
	height: 60px;
	font-size: 36px;
	font-family: 'Bangers', cursive;
	text-align: center;
	text-shadow: 1px 1px 0px #333;
	margin: 10px auto;
	display: block;
	color: #FFF;

}

button:hover {
	color: tomato;
}

.v-line {
	background-color: gainsboro;
	width: 544px;
	height: 5px;
	position: relative;
	top: 190px;
	margin: 0 auto;
/*	box-shadow: 1px 1px 0px #333;*/
}

.bottom {
	top: 378px;
}

.h-line {
	background-color: gainsboro;
	width: 5px;
	height: 544px;
	position: relative;
	top: 6px;
	left: -97px;
	margin: 0 auto;
/*	box-shadow: 1px 1px 0px #333;*/
}

.right {
	top: -538px;
	left: 95px;
}

.game-board {
 	float: right;
  	position: relative;
  	left: -50%;
  	text-align: left;
}

.board-square {
	width: 160px;
	height: 160px;
	background-color: transparent;
	color: black;
	float: left;
	margin: 16px;
	position: relative;
	left: 50%;
}

.board-square:hover {
	background-color: #DDD;
	opacity: .5;
}

.board-square:nth-child(3n+1) {
	clear: both;
}

.player-one {
	background-image: url("../img/x.png");
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 
}

.player-two {
	background-image: url("../img/o.png");
	background-repeat: no-repeat;
	background-position: center;
}

.game-header {
	text-align: center;
	margin-bottom: -126px;
	position: relative;
}

.game-display {
	height: 360px;
}

.player-one-score {
	display: inline-block;
	margin: 0px 25% 0 0;
	font-size: 36px;
	color: tomato;
}

.player-two-score {
	display: inline-block;
	margin: 0px 0 0 25%;
	font-size: 36px;
	color: mediumturquoise;
}

ul {
	list-style: none;
}

.turn-select {
	border: 2px solid gainsboro;
}

div p {
	padding: 0 12px 0 8px
}

.fade {
    transition: opacity 10s ease-in-out;
    -webkit-transition: opacity 10s ease-in-out;
    -moz-transition: opacity 10s ease-in-out;
    -ms-transition: opacity 10s ease-in-out;
    -o-transition: opacity 10s ease-in-out;
    opacity: 0;
}

.ground {
	height: 109px;
	width: 100%;
	background: #E6A766;
	background: linear-gradient(to right, #E2B98D, #E79855);
}


.c1 {
	position: relative;
	right: 0px;
	top: -110px;
	transform: scale(0.8);
}

.c2 {
	position: relative;
	right: -284px;
	top: -201px;
	transform: scale(0.5);
}

.c3 {
	position: relative;
	right: -284px;
	top: -204px;
}

.c4 {
	position: relative;
	right: -620;
	top: -300px;
	transform: scale(0.7);
}

.c5 {
	position: relative;
	right: -1100px;
	top: -346px;
	transform: scale(0.9);
}

.cactus {
	height: 60px;
	width: 8px;
	background: green;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 5px 0px rgba(0, 0, 0, 0.2);
}

.cactus-right-arm {
	height: 7px;
	width: 14px;
	background: green;
	left: 5px;
	top: 21px;
	position: absolute;
	border-radius: 5px;
}

.cactus-right-arm:after {
	height: 20px;
	width: 7px;
	background: green;
	left: 10px;
	top: -13px;
	position: absolute;
	content: '';
	border-radius: 5px;
}

.cactus-left-arm {
	height: 7px;
	width: 14px;
	background: green;
	left: -11px;
	top: 27px;
	position: absolute;
	border-radius: 5px;
}

.cactus-left-arm:after {
	height: 20px;
	width: 7px;
	background: green;
	left: 0px;
	top: -14px;
	position: absolute;
	content: '';
	border-radius: 5px;
}


.hill {
	height: 100px;
	width: 200px;
	background: #E2B98D;
	border-radius: 41%;
	position: relative;
	top: 275px;
	left: -10;
	transform: rotate(8deg);
	z-index: -1;
}

.mesa {
	height: 100px;
	width: 400px;
	background: sienna;
	border-radius: 44%;
	position: relative;
	top: 180px;
	left: 849px;
	transform: rotate(8deg);
	z-index: -1;
}

.mountain {
	height: 100px;
	width: 300;
	background: sienna;
	border-radius: 31%;
	position: relative;
	top: 60px;
	left: 1131px;
	transform: rotate(9deg);
	z-index: -1;
}

footer {
	position: relative;
	width: 100%;
	bottom: 0;
	height: 0px;
}
